{% extends "layout.html" %}

{% block content %}
    <div class="" alt="Machine learning background photo"> 
<div class="row">
    <div class="col-md-12 col-sm-12 head">
        <h2 class="text-bolder">Congratulations on completing the course!</h1>
        <h3 class="lead">Results</h3>
    </div>
</div>

    
<div class="row">
    <div class="col-md-6 col-sm-6">
        Table Here.
    </div>
    <div class="col-md-6 col-sm-6">
        Score: <label class="score" name="score"></label>
    </div>
</div>


<center>
    <span>
        <a href="{{data['prev']}}"><button class="btn btn-lg btn-success">Previous</button></a>
    </span>
    <span>
        <a href="{{data['restart']}}"><button class="btn btn-lg btn-warning">Retake</button></a>
    </span>
</center>


{% endblock %}

