{% extends "layout.html" %}

{% block content %}
    <div class="welcome" alt="Machine learning background photo"> 
        <h3>FINAL PAGE HERE</h3>
        <div class="row" style="height: 15%">
            <div class="col-sm-8">
                Insert Homepage Description Here
            <br>
            </div>
            <div class="col-sm-4">
                Your final score is {{data['src']['score']}}.
            <br>
            </div>
        </div>
        
    </div>
    
        <div id="main">
            <br>
            <br>
    </div>

<ul class="pagination justify-content-end mr-3">
    <li class="page-item">
      <a class="page-link" href="{{data['prev']}}" tabindex="-1">Previous</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="{{data['restart']}}"><b>Restart</b></a>
    </li>
  </ul>

{% endblock %}

