{% extends "layout.html" %}

{% block head %}
{{ super() }}

<script>
    var data = {{data|tojson}};
</script>

{% endblock head %}

{% block content %}
{{ super() }}
    <div class="" alt="Machine learning background photo"> 
<div class="row">
    <div class="col-md-12 col-sm-12 head">
        <h2 class="text-bolder">RESULTS</h1>
        <h3 class="lead">Congratulations on completing the course!</h3>
    </div>
</div>

    
<div class="row wrap">
    <div class="col-md-6 col-sm-6">
        <br>
        <table>
            <tr>
                <th colspan="2">Answered Correctly?</th>
             </tr>
            <tr>
                <th>Toe Loop</th>
                <td>{{data['results']['Toe Loop']}}</td>
            </tr>
            <tr>
                <th>Flip</th>
                <td>{{data['results']['Flip']}}</td>
            </tr>
            <tr>
                <th>Lutz</th>
                <td>{{data['results']['Lutz']}}</td>
            </tr>
            <tr>
                <th>Salchow</th>
                <td>{{data['results']['Salchow']}}</td>
            </tr>
            <tr>
                <th>Loop</th>
                <td>{{data['results']['Loop']}}</td>
            </tr>
            <tr>
                <th>Axel</th>
                <td>{{data['results']['Axel']}}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6 col-sm-6">
        <br><br>
        <div class="text-centering">
        Current Score: <label class="score" name="score">{{data.score}}</label>/8
        </div>
        <div class="btn-centering">
            <div>
                <a class="text-decor"href="{{data['prev']}}"><button class="btn btn-lg btn-success btn-block">Go Back</button></a>
            </div>
            <br>
            <div>
                <a class="text-decor" href="{{data['restart']}}"><button class="btn btn-lg btn-warning btn-block">Retake Course</button></a>
            </div>
        </div>
    </div>
</div>


{% endblock %}

