<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="icon" href="data:,">
<!-- jquery -->
<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>  
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  
    
  <title>Figure Skating Jumps</title>

    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <script src="{{url_for('static', filename='navbar.js')}}"></script>
    <script src="{{url_for('static', filename='addEntry.js')}}"></script>
    <script src="{{url_for('static', filename='editEntry.js')}}"></script>

    
  </head>
  <body>
<ul class="nav navbar-light justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="#">Introduction</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Skate Basics</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Types of Jumps</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Toe Jumps</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Edge Jumps</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Summary</a>
  </li>

</ul>

    <div class="container">   
        {% block content %}
        {% endblock %}
    </div>

  </body>
</html>




