{% extends "layout.html" %}


{% block head %}

{{ super() }}

<script type="text/javascript" src="{{ url_for('static', filename = 'learn_v2.js') }}"></script>

<script>
	var data = {{data|tojson}};
    console.log(data)
</script>

{% endblock head %}


{% block content %}
    
{{ super() }}

<div class="row">
    <div class="col-md-12 title">
        <h1>{{data['title']}}</h1>
    </div>
    There are three types of toe jumps — in each, you take off by digging in the toe picks on the front of the blade.
    
    {% for res in data['src'] %}
    <div class="col-md-3">
        <h3 class="p-2">{{res['name']}}</h3>
    </div>
    {% endfor %}
</div>


	<ul class="pagination justify-content-end mr-3">
    <li class="page-item">
      <a class="page-link" href="{{data['prev']}}" tabindex="-1">Previous</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="{{data['next']}}">Next</a>
    </li>
  </ul>


{% endblock content %}