{% extends "layout.html" %}


{% block head %}

{{ super() }}

<script type="text/javascript" src="{{ url_for('static', filename = 'learn_v2.js') }}"></script>

<script>
	var data = {{data|tojson}};
</script>

{% endblock head %}


{% block content %}
    
{{ super() }}

<div class="row">
    <div class="col-md-12 title">
        <h1>Toe Jumps</h1>
    </div>
    There are three types of toe jumps — in each, you take off by digging in the toe picks on the front of the blade.
    <div class="col-md-3">
        <h3 class="p-2">Toe Loop</h3>
    </div>
    <div class="col-md-3">
        <h3 class="p-2">Flip</h3>
    </div>
    <div class="col-md-3">
        <h3 class="p-2">Lutz</h3>
    </div>
</div>


	<ul class="pagination justify-content-end">
    <li class="page-item">
      <a class="page-link" href="{{data['prev']}}" tabindex="-1">Previous</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="{{data['next']}}">Next</a>
    </li>
  </ul>


{% endblock content %}