{% extends "layout.html" %}


{% block head %}

{{ super() }}

<script type="text/javascript" src="{{ url_for('static', filename = 'learn_v1.js') }}"></script>

<script>
	var data = {{data|tojson}};
</script>

{% endblock head %}


{% block content %}
    
{{ super() }}

<div class="row">
    <div class="col-md-12 title">
        <h1>Types of Jumps</h1>
    </div>
    <div class="col-md-5">
        <h3 class="p-2">Toe Jumps</h3>
    </div>
    <div class="col-md-5">
        <h3 class="p-2">Edge Jumps</h3>
    </div>
</div>

	<ul class="pagination justify-content-end">
    <li class="page-item">
      <a class="page-link" href="{{data['prev']}}" tabindex="-1">Previous</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="{{data['next']}}">Next</a>
    </li>
  </ul>

{% endblock content %}