{% extends "layout.html" %}

{% block content %}

<div id="main" class=" ">
<br>
<div class="container">
<center>
	<h2>{{ data['title'] }}</h2>
</center>

	<div class="row">
		<div class="col-sm-9">
			<div class="list">
				<div id="nppcList"> </div>
	</div>
		</div>
		<div class="col-sm-3">
			<div class="list">
			<div class="listHeader" id="ppc">
				Toe Jumps
			</div>
			<div id="ppcList"></div>
		</div>
	</div>
		</div>

		<div class="row">
			<div class="col-sm-9">
			</div>
			<div class="col-sm-3">
				<div class="list">
			<div class="listHeader" id="ppc">
				Edge Jumps
			</div>
			<div id="ppcList"></div>
		</div>
			</div>
		</div>

	 <ul class="pagination justify-content-end">
    <li class="page-item">
      <a class="page-link" href="{{data['prev']}}" tabindex="-1">Previous</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="{{data['next']}}">Next</a>
    </li>
  </ul>

	</div>

	


	

{% endblock %}
