{% extends "layout.html" %}

{% block content %}
<div class="" alt="Machine learning background photo"/> 
  <div class="row">
    <div class="col-md-12 col-sm-12 head">
        <h1 class="text-bolder">Figure Ice Skating</h1>
        <h3 class="lead light-grey">Learn Figure Skating Jumps here!</h3>
    </div>
  </div>

  <!--Content Section-->
  <div class="row wrap">
    <div class="col-md-6 col-sm-6">
      <h1 class="text-bolder content">Learn how to tell the following jumps apart: </h1>
      <ul class="list-items" style="list-style-type:circle">
        <li>Toe Loop</li>
        <li>Flip</li>
        <li>Lutz</li>
        <li>Salchow</li>
        <li>Loop</li>
        <li>Axel</li>
      </ul>
    </div>
    <div class="col-md-6 col-sm-6">
      <img class="pic" src="https://cdn.vox-cdn.com/uploads/chorus_asset/file/10104007/2018_01_26_13_04_23.gif" />
    </div>
  </div>
  <div id="main">
    <br>
  </div>
  <center>
    <a href="{{data['next']}}"><button id="start-btn"  class="btn btn-lg btn-secondary start">Start Learning!</button></a>
  </center>



{% endblock %}

