{% extends "layout.html" %}

{% block content %}
    <div class="welcome" alt="Machine learning background photo"> 
        <h3>Learn Figure Skating Jumps Here</h3>
        <div class="row" style="height: 15%">
            <div class="col-sm-10">
                Insert Homepage Description Here
            <br>
            </div>
        </div>
        
    </div>
    
        <div id="main">
            <br>
            <br>
    </div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
<!--     <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li> -->
    <li class="page-item">
      <a class="page-link" href="/skatebasics">Next</a>
    </li>
  </ul>
</nav>

{% endblock %}

